

  @import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  @import url('http://fonts.cdnfonts.com/css/lovelo?styles=25962');


 
div {
  font-family: Lovelo;
}
body, p {
  height: 100%;
  font-family: "Tinos", sans-serif;
  color:  #886353;
  font-size: 20px;
  text-align: center;
}
  
 h1, h3 {
  height: 100%;
  font-family: "Lovelo", sans-serif;
  color:  #d79c95;
  text-align: center
 } 






.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("images/peluche logo black.png");
  min-height: 75%;
}

.menu {
  display: none;
}

.button {
  background-color: #ddc3d3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}



